.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.medium {
    width: 35px;
    height: 35px;
    background-position: -130px -48px;
    background-size: 262px 185px;
    filter: grayscale(100%);
}

.foto {
    width: 154px;
    height: 87px;
    background-position: -415px 2px;
    left: 70px;
}

.perfil {
  width: 84px;
  height: 84px;
  background-position: -5px -550px;
  background-size: 932px 660px;
  border-radius: 50px;
  display: inline-block;
}

.karin {
    width: 87px;
    height: 87px;
    background-position: -579px -5px;
}

.lily {
    width: 87px;
    height: 87px;
    background-position: -525px -102px;
}

.miriam {
    width: 116px;
    height: 116px;
    background-position: -415px -337px;
}

.naomi {
    width: 93px;
    height: 116px;
    background-position: -541px -337px;
}

.cajas {
    width: 400px;
    height: 120px;
    background-position: -5px -5px;
}

.dom {
    width: 400px;
    height: 120px;
    background-position: -5px -135px;
}

.html {
    width: 400px;
    height: 120px;
    background-position: -5px -265px;
}

.sublime {
    width: 400px;
    height: 120px;
    background-position: -129px -615px;
}

.pasos {
    width: 368px;
    height: 600px;
    background-position: -676px -5px;
}

.logo {
    width: 35px;
    height: 35px;
    background-position: -142px -43px;
    background-size: 360px 296px;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #535353;
}

header {
  width: 100%;
  height: 65px;
  position: fixed;
}

.encabezado {
  width: 76%;
  height: 49px;
  margin: 0 12%;
  position: fixed;
}

.header-left {
  display: inline-block;
  height: 100%;
  position: relative;
  top: 0;
}

.header-left span {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  cursor: pointer;
}

.raya {
  height: 35px;
  border-left: 1px solid #636363;
  margin-left: 35px;
  left: 14px;
}

.header-left > .icon-twitter{
  left: 245px;
  bottom: 14px;
  font-size: 1.5rem;
}

.header-left > .icon-facebook{
  left: 280px;
  bottom: 14px;
  font-size: 1.5rem;
}

.header-right {
  display: inline-block;
  height: 100%;
  width: 200px;
  float: right;
  position: relative;
  top: 0;
}

.header-right span{
  display: inline-block;
  cursor: pointer;
}

.header-right > .logo {
  position: absolute;
  bottom: 5px;
  right: 0;
}

.header-right > .perfil {
  width: 42px;
  height: 42px;
  background-position: -2px -236px;
  background-size: 412px 285px;
  border-radius: 50px;
  position: absolute;
  bottom: 0;
  right: 56px;
}

.header-right > .icon-lupa {
  font-size: 2rem;
  position: absolute;
  bottom: 7px;
}

#container {
  width: 100%;
  position: relative;
  top: 98px;
}

.section-top{
  width: 52%;
  margin: 0 24%;
  position: relative;
  top: 0;
  display: inline-block;
}

.section-top .datos-perfil {
   display: inline-block;
   font-size: 0.8rem;
   position: relative;
   bottom: 14px;
   left: 21px;
   line-height: 0.5;
 }

.datos-perfil .nombre {
  font-weight: 600;
  font-size: 1.3rem;
}

.usuario {
  font-weight: 300;
}

.center {
  width: 52%;
  margin: 0 24%;
  position: relative;
  top: 0;
  display: inline-block;
}

.center h1 {
  font-size: 2.8rem;
  color: #454545;
}

.center p {
  font-size: 1.3rem;
  line-height: 1.5;
}

footer {
  border-top: 2px solid #9e9e9e;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer div{
  width: 52%;
  margin: 0 24%;
  padding: 7px 0px;
  position: relative;
}

footer span{
  padding-right: 21px;
  cursor: pointer;
}

.foot-left {
  font-size: 1.7rem;
  display: inline-block;
}

.foot-right{
  font-size: 1.7rem;
  display: inline-block;
  float: right;
}

.celeste {
  color: #00a3ff;
  font-size: 1.8rem !important;
}

.azul {
  color: #0500ff;
  font-size: 1.8rem !important;
}

.rojo {
  color: #ff0000;
  font-size: 1.8rem !important;
}

.verde {
  color: #00ff66;
  font-size: 1.8rem !important;
}

.lila {
  color: #d45cf2;
  font-size: 1.8rem !important;
}
